@font-face {
  src: url(fonts/Akira\ Expanded\ Demo.otf);
  font-family: akira;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "akira", sans-serif;
  background-color: black;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h2 {
  color: #ffffff;
  font-size: 105gipx;
}

.picture {
  width: 850px;
  height: 890px;
  display: flex;
  justify-content: right;
  /* margin-left: 270px; */
}

.words {
  margin-top: 300px;
  margin-left: 50px;
  align-items: flex-start;
}

.container {
  display: flex;
  justify-content: ;
}
