@font-face {
  src: url(fonts/Akira\ Expanded\ Demo.otf);
  font-family: akira;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "akira", sans-serif;
  background-color: black;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h2 {
  color: #ffffff;
  font-size: 105gipx;
}

.hero-section {
  display: flex;
  justify-content: ;
}

.hero-left {
  margin-top: 300px;
  margin-left: 50px;
  align-items: flex-start;
}

.hero-image {
  width: 150px;
  height: 160px;
  display: flex;
  justify-content: right;
  /* margin-left: 270px; */
}

.wallpaper {
  background-image: url("./images/space.png");
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  position: fixed;
}