@font-face {
    src:url(fonts/Akira\ Expanded\ Demo.otf);
    font-family: akira;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'akira', sans-serif;
    background-color: black;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h2 {
    color: #ffffff;
}

.picture {
   width: 450px;
}

.container {
    display: flex;
}